body {
    background-color: rgba(129, 52, 52, 0.562);
    max-width: 800px;
    margin: 0 auto;
    text-align: center;   
}

.dark-mode {
    background-color: rgb(34, 4, 65);
    color: silver;
}

table, td, tr {
    border: 1px solid black;
}

h1 {
    color: rgb(146, 72, 140);
}

.selected {
    color: rgb(146, 72, 140);
}

/* NOT IDEAL! ⤴ */

img {
    width: 200px;
    /* display: block; */
}

/* .hidden {
    display: none;
} */

ul {
    list-style-type: none;
}